# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# folder
**/build/
**/lib/
**/bin/
**/bin-int/

# visual studio
*.sln
*.vcxproj
*.user
*.filters
*/.vs/

#json
*.json

#other
*.log
*.tlog
*.lastbuildstate
*.idb
*.pdb
*.jpg
*.obj
*.hdr
*.mtl
*.blend
*.blendl
TODO.md